 <blockquote>
      <div class="page-header">
        <h1>Payment</h1>
      </div>

      <p class="lead">A <%=@num_years%> year loan of $<%=@principal%>, with an annual interest rate of <%=@interest_rate/100%>%, requires a monthly payment of $<%=@payment.round(2)%>.</p>
    </blockquote>
